<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="../static/styles.css" rel="stylesheet">
  <title>TaskEmbarraser | Home</title>
</head>
<%- include("header.ejs") %>
<body>
  <div id="container">
    <% if (titles === null) { %>
      <h1 id="welcome">No Recipes</h1>
    <% } else { %>
      <h1 id="welcome">My Recipes</h1>
      <hr>
      <% for (const title of titles) { %>
        <div onclick="viewRecipe('<%= title %>')" class="home-item"><%= title %></div>
        <hr>
      <% } %>
    <% } %>
  </div>
</body>
<script src="../static/index.js" charset="UTF-8"></script>
</html>