<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles.css">
  <title>TaskEmbarraser | Register</title>
</head>
<%- include("header.ejs") -%>
<body>
  <div id="welcome">
    <h1>Welcome to TaskEmbarraser</h1>
    <h1>Register Below</h1>
  </div>
  <div id="form">
    <form action="/register" method="POST" autocomplete="on">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input autofocus autocomplete="email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label name="password" for="password" class="form-label">Password</label>
        <input autocomplete="new-password" name="password" type="password" class="form-control" id="password">
      </div>
      <div class="mb-3">
        <label for="verify" class="form-label">Verify-Password</label>
        <input autocomplete="new-password" name="verify" type="password" class="form-control" id="verify">
      </div>
      <div class="mb-3 form-check">
        <input name="recieveEmails" value="1" type="checkbox" class="form-check-input" id="recieve-emails">
        <label class="form-check-label" for="recieve-emails">Recieve Emails</label>
        <div class="form-text" id="email-info">*recieve emails about new and popular recipes</div>
      </div>
      <% if (allFieldsRequired || existingUser || passwordsDoNotMatch) { %>
        <div class="alert alert-danger" role="alert">
        <% if (allFieldsRequired) { %> 
          All Fields Required
        <% } else if (existingUser) { %>
          User doesn't exist with that email <a href="/register">Register?</a>
        <% } else { %>
          Password Incorrect
        <% } %>
        </div>
      <% } %>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</body>
<script src="../static/index.js" charset="UTF-8"></script>
</html>